@font-face {
    font-family: 'sans-bold';
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'sans-regular';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
}

:root {
    --sansbold: 'sans-bold', 'sans-serif';
    --sansregular: 'sans-regular', 'sans-serif';
    --color-white: #fff;
    --color-red: #FF6565;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Header and Navbar */

.header {
    position: relative;
    top: 20px;
    height: 0px;
    margin: 0px 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo {
    position: relative;
    top: 10px;
    width: 175px;
}

.menu-btn, .menu-icon {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.nav-item {
    margin: 0px 10px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--sansbold);
    font-size: 12px;
}

.nav-link:hover {
    color: var(--color-red);
}

.header .menu-icon {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
    top: -15px;
    left: -60px;
}

.header .menu-icon .navicon {
    background: var(--color-white);
    display: block;
    width: 1rem;
    height: .15rem;
    position: relative;
    transition: background .2s ease-in-out;
}

.header .menu-icon .navicon::after,
.header .menu-icon .navicon::before {
    content: "";
    display: block;
    width: 150%;
    height: 100%;
    position: absolute;
    background: var(--color-white);
    transition: all .2s ease-out;
}

.header .menu-icon .navicon::after {
    top: .5rem;
}

.header .menu-icon .navicon::before {
    top: -.5rem;
}

.menu-btn:checked ~ .nav-menu {
    display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
    top: 0;
}

@media screen and (max-width: 510px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }
    
    .header-logo {
        left: -50px;
    }

    .container {
        flex-wrap: wrap;
    }
    
    .nav {
        flex-direction: column;
    }

    .nav-item {
        margin-bottom: 40px;
        margin-left: 80px;
        font-size: 25px;
    }
}


/* Main part */

.main-part {
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 35% 65%;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 610px){
    .main-part {
        height: 900px;
    }
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 637px;
    height: 313px;
    margin: 20px;
}

.title {
    font-size: 32px;
    color: var(--color-white);
    font-family: var(--sansbold);
    margin: 0;
    margin-top: 250px;
    text-align: center;
}

.info-1 {
    font-size: 16px;
    color: var(--color-white);
    font-weight: bold;
    font-family: var(--sansbold);
    margin: 0;
    text-align: center;
}

.button-main {
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 30px;
    font-family: var(--sansregular);
    font-size: 14px;
    width: 182px;
    min-height: 44px;
    position: relative;
    top: 50px;
    border: 0;
}

.button-main:hover {
    background-color: #fa5858;
}

.info-2 {
    font-size: 16px;
    color: var(--color-white);
    font-family: var(--sansregular);
    text-align: center;
    line-height: 1.7;
    position: relative;
    top: 110px;
}

@media screen and (max-width: 510px) {
    .title {
        margin-top: 200px;
    }

    .menu-btn:checked ~ .title {
        margin-top: 250px;
    }

    .menu-btn:checked ~ .main-part .main-info .header-logo {
        transform: scale(1.2);
    }
}

