@font-face {
    font-family: 'sans-bold';
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'sans-regular';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'sans-semibold';
    src: url('fonts/source-sans-pro/SourceSansPro-Semibold.otf') format('truetype');
}

:root {
    --sansbold: 'sans-bold', 'sans-serif';
    --sansregular: 'sans-regular', 'sans-serif';
    --sanssemibold: 'sans-semibold', 'sans-serif';
    --color-white: #fff;
    --color-red: #FF6565;
    --color-black: #071629;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Header and Navbar */

.header {
    position: relative;
    top: 20px;
    height: 0px;
    margin: 0px 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo {
    position: relative;
    top: 10px;
    width: 175px;
}

.menu-btn, .menu-icon {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.nav-item {
    margin: 0px 10px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--sansbold);
    font-size: 12px;
}

.nav-link:hover {
    color: var(--color-red);
}

.header .menu-icon {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
    top: -15px;
    left: -60px;
}

.header .menu-icon .navicon {
    background: var(--color-white);
    display: block;
    width: 1rem;
    height: .15rem;
    position: relative;
    transition: background .2s ease-in-out;
}

.header .menu-icon .navicon::after,
.header .menu-icon .navicon::before {
    content: "";
    display: block;
    width: 150%;
    height: 100%;
    position: absolute;
    background: var(--color-white);
    transition: all .2s ease-out;
}

.header .menu-icon .navicon::after {
    top: .5rem;
}

.header .menu-icon .navicon::before {
    top: -.5rem;
}

.menu-btn:checked ~ .nav-menu {
    display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
    top: 0;
}

@media screen and (max-width: 510px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }
    
    .header-logo {
        left: -50px;
    }

    .container {
        flex-wrap: wrap;
    }
    
    .nav {
        flex-direction: column;
    }

    .nav-item {
        margin-bottom: 40px;
        margin-left: 80px;
        font-size: 25px;
    }
}


/* Main part */

.main-part {
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 35% 65%;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 610px){
    .main-part {
        height: 900px;
    }
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 637px;
    height: 313px;
    margin: 20px;
}

.title {
    font-size: 32px;
    color: var(--color-white);
    font-family: var(--sansbold);
    margin: 0;
    margin-top: 250px;
    text-align: center;
}

.info-1 {
    font-size: 16px;
    color: var(--color-white);
    font-weight: bold;
    font-family: var(--sansbold);
    margin: 0px 30px;
    text-align: center;
}

.button-main {
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 30px;
    font-family: var(--sansregular);
    font-size: 14px;
    width: 182px;
    min-height: 44px;
    position: relative;
    top: 50px;
    border: 0;
}

.button-main:hover {
    background-color: #fa5858;
}

.info-2 {
    font-size: 16px;
    color: var(--color-white);
    font-family: var(--sansregular);
    text-align: center;
    line-height: 1.7;
    position: relative;
    top: 110px;
}

@media screen and (max-width: 510px) {
    .title {
        margin-top: 200px;
    }

    .menu-btn:checked ~ .title {
        margin-top: 250px;
    }

    .menu-btn:checked ~ .main-part .main-info .header-logo {
        transform: scale(1.2);
    }
}

/* What we do part */

.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what-title {
    font-family: var(--sanssemibold);
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.what-text {
    width: 50%;
    font-family: var(--sansregular);
    font-size: 16px;
    text-align: center;
    line-height: 1.7;
}

.what-item {
    width: 207px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 30px 50px;
    text-align: center;
}

.what-item img {
    width: 61.43px;
    height: 100%;
}

.what-item p {
    margin: 0;
    line-height: 1.5;
}

.what-contain {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1000px) {
    .what-text {
        width: 80%;
    }

    .what-item:first-child {
        margin-top: 20px;
    }
    
    .what-item:last-child {
        margin-bottom: 30px;
    }
}

/* Our results */

.results {
    background-image: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 35% 65%;
    width: 100%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-title {
    font-family: var(--sanssemibold);
    font-size: 32px;
    margin-top: 150px;
    margin-bottom: 30px;
    color: var(--color-white);
    text-align: center;
}

.result-text {
    width: 43%;
    font-family: var(--sansregular);
    font-size: 16px;
    text-align: center;
    line-height: 1.7;
    color: var(--color-white);
}

.result-contain {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.result-item {
    width: 207px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 30px 10px;
    text-align: center;
}

.result-item img {
    width: 190px;
    height: 190px;
}

.result-item h4 {
    position: relative;
    top: -120px;
    font-size: 46px;
    font-family: var(--sansbold);
    color: var(--color-white);
    margin: 0;
}

.result-item p {
    position: relative;
    top: -110px;
    font-size: 14px;
    font-family: var(--sansregular);
    color: var(--color-white);
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .result-text {
        width: 80%;
    }
    .result-item {
        margin: 30px 10px 30px 50px;
    }
}

/* Section contact us */

.contact {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-conteiner {
    width: 335px;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.contact-title {
    font-family: var(--sansbold);
    font-size: 32px;
    color: var(--color-black);
    margin-top: 100px;
    margin-bottom: 10px;
}

.info {
    width: 335px;
    height: 29px;
    font-family: var(--sanssemibold);
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid var(--color-black);
    color: #071629;
    margin-top: 40px;
}

.button-contact {
    width: 162px;
    height: 100%;
    background: var(--color-red);
    border-radius: 20px;
    color: var(--color-white);
    font-family: var(--sanssemibold);
    border: 0;
    position: relative;
    top: 50px;
}

/* Footter */

.footer {
    width: 100%;
    height: 249px;
    background-color: #071629;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contain-footer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.links {
    width: 150px;
}

.links img {
    margin: 5px;
}

.footer p {
    font-family: var(--sansregular);
    color: #717171;
    font-size: 12px;
    position: relative;
    top: 30px;
}

@media screen and (max-width:500px){
    .contain-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -20px;
    }

    .links {
        margin-top: 30px;
        margin-left: 30px;
    }
}